* {box-sizing:border-box}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

div,p,span, img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  user-drag: none; 
  -webkit-user-drag: none;
}
/* Slideshow container */
.staff-buttons-container {
  padding: 20px;
}

.staff-info {
  float: left;
  padding: 20px;
  background-color: #044798;
  height: 225px;
  width: 566px;
  -webkit-box-shadow: 10px 10px 5px -3px rgba(75,75,75,0.77);
  -moz-box-shadow: 10px 10px 5px -3px rgba(75,75,75,0.77);
  box-shadow: 10px 10px 5px -3px rgba(75,75,75,0.77);
}
.staff-info.closed {
  background-color: #CEDBEB !important;
  -webkit-box-shadow: 10px 10px 5px -3px rgba(211, 211, 211, 0.77);
  -moz-box-shadow: 10px 10px 5px -3px rgba(211, 211, 211, 0.77);
  box-shadow: 10px 10px 5px -3px rgba(211, 211, 211, 0.77);
}
.staff-name {
  color: white;
  font-size: 52px;
  font-weight: bold;
}

.staff-profile {
  position: relative;
  top: -250px;
  left: 310px;
}

.staff-profile img {
  border-left:4px solid #fff;
  border-right:4px solid #fff;
  width: 236px;
  height: 274px;
}
.staff-profile.closed img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.workstation {
  padding-top: 20px;
  color: white;
  font-size: 32px;
}